Indian railways/src/main/mule/Implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GEtAlltrains" doc:id="58994b72-d444-4257-9cea-e16f9231ada5" >
		<db:select doc:name="Select" doc:id="eeb78c7c-e312-4419-98bf-7fba3df95054" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from central_railway]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8d5bbffc-0bf0-4ac4-9c62-f3fd923e66f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TrainID: payload01.ID,
	TrainNumber: payload01.Number,
	TrainName: payload01.Name,
	From: payload01.FromStation,
	To: payload01.ToStation,
	DepartureDate: payload01.Date as String,
	Fare: payload01.Price,
	Class: payload01.Class
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ef978133-c37d-4b09-baf0-3fc763bf6ec2" message="#[payload]"/>
	</flow>
	<flow name="GEtAlltrainsByID" doc:id="285da14c-6834-4ac6-b43e-0047322bec45" >
		<db:select doc:name="Select" doc:id="c00a15bd-7556-445b-93b2-5e7746daa193" config-ref="Database_Config" >
			<db:sql ><![CDATA[Select * from central_railway where ID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id : attributes.uriParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="56951938-4670-4f21-9868-35f544e08e7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TrainID: payload01.ID,
	TrainNumber: payload01.Number,
	TrainName: payload01.Name,
	From: payload01.FromStation,
	To: payload01.ToStation,
	DepartureDate: payload01.Date as String,
	Fare: payload01.Price,
	Class: payload01.Class
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4ed034d6-15d2-4808-a8ca-d47302caee14" message="#[payload]" />
	</flow>
	<flow name="DeleteByID" doc:id="df29bf92-2455-4ad0-a122-d00baa91d960" >
		<db:delete doc:name="Delete" doc:id="6c875c35-ba65-475a-9f9b-1e8d314782bc" config-ref="Database_Config">
			<db:sql ><![CDATA[Delete from central_railway where ID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id : attributes.uriParams.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="94fd5ff6-ca7b-4f69-9137-02ea6f836038" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Rail with ID" ++ attributes.uriParams.id as String default '' ++ "has been deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="ae689e39-c088-4a45-b0ff-db708941c1e8" message="#[payload]" />
	</flow>
	<flow name="UpdateByID" doc:id="c921e2ea-ce9d-4e74-a3e9-29badf84c1c8" >
		<db:update doc:name="Update" doc:id="41adfcf5-998e-4e77-88f6-9cad803c67d1" config-ref="Database_Config">
			<db:sql ><![CDATA[Update central_railway set Number = :Nmbr, Name = :Name, FromStation = :Fstation, ToStation = :Tostn, Price = :Price, Class= :cls where ID= :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	Nmbr: payload.Number,
	Name: payload.Name,
	Fstation: payload.FromStation,
	Tostn: payload.ToStation,
	Price: payload.Price,
	cls: payload.Class,
	id: attributes.uriParams.id as String
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="8665fea7-8d8b-454d-896b-57f86e3a0df2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Total " ++ payload.affectedRows as String ++ "row has been updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dee72244-5248-40a1-a443-fefeeeaa60e9" message="#[payload]"/>
	</flow>
	<flow name="PostTRrain" doc:id="69b11419-5e00-409d-88d3-fd02c63f4b3b" >
		<db:insert doc:name="Insert" doc:id="e2c62696-21d2-440f-ba44-88320ae08a73" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO `central_railway` (`Number`, `Name`, `FromStation`, `ToStation`, `Date`, `Price`, `Class`) VALUES (:Nmbr, :Name, :Fstation, :Tostn, :Date, :Price, :cls)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	Nmbr: payload.Number,
	Name: payload.Name,
	Fstation: payload.FromStation,
	Tostn: payload.ToStation,
	Date:payload.Date as DateTime,
	Price: payload.Price,
	cls: payload.Class
}]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select" doc:id="dd3340bc-4df3-48a3-9e57-f0cad33f5366" config-ref="Database_Config">
			<db:sql ><![CDATA[Select max(ID) from central_railway]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8f39a467-1fc6-4167-8fbc-56f7a37604cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]."max(ID)" as String ++ " Number train has been added"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d70f3a74-fdeb-4d50-a8c0-0635c6d98151" message="#[payload]"/>
	</flow>
</mule>
